# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# Streamlit
fintrack-dashboard/cache_fintrack.db
fintrack-dashboard/user_preferences.json

# Node
fintrack-api/node_modules/
fintrack-api/dist/
fintrack-api/fintrack.db
fintrack-api/fintrack.db-shm
fintrack-api/fintrack.db-wal
fintrack-api/db.json
fintrack-api/src/fintrack.db
fintrack-api/src/fintrack.db-shm
fintrack-api/src/fintrack.db-wal

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
